:root {
    --global-border: 1px solid #FFA500;
    --field-cell-size: 30px;
    --field-cell-border: 1px solid #808080;
}

#startGameButton, #shipsAutoPlacement{
    height: 6vh;
    width: 10vw;
    tab-index: -1;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header{

    user-select: none;
    height: 10ch;
    text-align: center;
    padding: 1%;
}
footer{

    user-select: none;
    height: 10ch;
    text-align: center;
    padding: 1%;
}

main {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-frame {
    display: flex;
    align-items: center;
    height: 80ch;
    width: 90vw;
    justify-content: space-around;
    /*margin: 100px auto;*/
    border: var(--global-border);
}

.main-frame__left{
    width: 20%;
}

.main-frame__right{
    width: 20%;
}

.direction_row_reverse{
    flex-direction: row-reverse;
}

.direction_row{
    flex-direction: row;
}

.main-frame__fields {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ships-menu{
    height: 80%;
    /*width: 20%;*/
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
    /*background: grey;*/


}

.ships-menu__main {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*border: var(--global-border);*/
}

.ships-menu__counter {
    height: inherit;
    width: 10%;
    padding: 0  10px;
    user-select: none;
    /*border: var(--global-border);*/
}
.ships-menu__block {
    flex-shrink: 1;
    flex-grow: 1;
    border: var(--global-border);
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ships-menu__wrapper_h{
    /*flex-grow: 3;*/
}
.ships-menu__wrapper_v{
    /*flex-grow: 6;*/
}

.ships-menu__ship_h{
    /*height: 100%;*/
    /*width: 30%;*/
    background: azure;
}

.ships-menu__ship_v{
    /*height: 100%;*/
    /*width: 70%;*/
    background: azure;
}
.ship{
    background: darkblue;
}

.drag_n_drop{
    z-index: 5;
    user-select: text;
}

.field{
    display: table;
    border: var(--global-border);
}

.field__table-cell{
    text-align: center;
    height: 2vw;
    width: 2vw;
    border: var(--field-cell-border);
    user-select: none;
}

